<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1"  />
    </system.web>
    <system.webServer>
      <defaultDocument>
        <files>
          <clear />
          <add value="index.aspx" />
        </files>
      </defaultDocument>
    </system.webServer>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    <connectionStrings>
    <add name="ApplicationServices"
         connectionString='Data Source=(LocalDB)\v11.0;AttachDbFilename="C:\Users\SONY\documents\visual studio 2012\Projects\FastBid\FastBid\App_Data\fastbid.mdf";Integrated Security=True'
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
